<section class="muf-accordions">
    <div class="muf-accordion-item">
        <button 
            class="muf-accordion-button"
            id="mufAccordionButton01"
            aria-controls="mufAccordionPanel01"
            aria-expanded="false"
        >
            Accordion Row No. 01
            <span class="ml-2 muf-accordion-icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.74414 3.92253L3.92253 2.74414L10 8.82162L16.0775 2.74414L17.2559 3.92253L3.92253 17.2559L2.74414 16.0775L8.82162 10L2.74414 3.92253Z" class="fill-current" />
                    <path d="M16.0775 17.2559L10.8333 12.0117L12.0117 10.8333L17.2559 16.0775L16.0775 17.2559Z" class="fill-current" />
                </svg>
            </span>
        </button>
        <div
            id="mufAccordionPanel01"
            aria-labelledby="mufAccordionButton01"
            class="muf-accordion-panel"
        >
            <p>
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Aenean posuere, tortor sed cursus feugiat, nunc <a href="#">augue hyperlink blandit nunc</a>, eu sollicitudin urna dolor sagittis lacus. 
            </p>
            <p>
                Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh.
            </p>
        </div>
    </div>
    <div class="muf-accordion-item">
        <button 
            class="muf-accordion-button"
            id="mufAccordionButton02"
            aria-controls="mufAccordionPanel02"
            aria-expanded="false"
        >
            Accordion Row No. 02
            <span class="ml-2 muf-accordion-icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.74414 3.92253L3.92253 2.74414L10 8.82162L16.0775 2.74414L17.2559 3.92253L3.92253 17.2559L2.74414 16.0775L8.82162 10L2.74414 3.92253Z" class="fill-current" />
                    <path d="M16.0775 17.2559L10.8333 12.0117L12.0117 10.8333L17.2559 16.0775L16.0775 17.2559Z" class="fill-current" />
                </svg>
            </span>
        </button>
        <div
            id="mufAccordionPanel02"
            aria-labelledby="mufAccordionButton02"
            class="muf-accordion-panel"
        >
            All the stuff goes here
        </div>
    </div>
    <div class="muf-accordion-item">
        <button 
            class="muf-accordion-button"
            id="mufAccordionButton03"
            aria-controls="mufAccordionPanel03"
            aria-expanded="false"
        >
            Accordion Row No. 033
            <span class="ml-2 muf-accordion-icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.74414 3.92253L3.92253 2.74414L10 8.82162L16.0775 2.74414L17.2559 3.92253L3.92253 17.2559L2.74414 16.0775L8.82162 10L2.74414 3.92253Z" class="fill-current" />
                    <path d="M16.0775 17.2559L10.8333 12.0117L12.0117 10.8333L17.2559 16.0775L16.0775 17.2559Z" class="fill-current" />
                </svg>
            </span>
        </button>
        <div
            id="mufAccordionPanel03"
            aria-labelledby="mufAccordionButton03"
            class="muf-accordion-panel"
        >
            All the stuff goes here
        </div>
    </div>
</section>