<!--
<div class="h-10 opacity-75 flex justify-center items-center bg-gold sm:bg-blue smed:bg-gold md:bg-blue mlg:bg-gold lg:bg-blue xl:bg-gold text-white p-8 text-center">
    <span class="sm:hidden">No breakpoint</span>
    <span class="hidden sm:block smed:hidden">Breakpoint <span class="font-bold text-2xl">sm</span></span>
    <span class="hidden smed:block md:hidden">Breakpoint <span class="font-bold text-2xl">smed</span></span>
    <span class="hidden md:block mlg:hidden">Breakpoint <span class="font-bold text-2xl">md</span></span>
    <span class="hidden mlg:block lg:hidden">Breakpoint <span class="font-bold text-2xl">mlg</span></span>
    <span class="hidden lg:block xl:hidden">Breakpoint <span class="font-bold text-2xl">lg</span></span>
    <span class="hidden xl:block 2xl:hidden">Breakpoint <span class="font-bold text-2xl">xl</span></span>
    <span class="hidden 2xl:block">Breakpoint <span class="font-bold text-2xl">2xl</span></span>
</div>
-->