<div class="muf-background-bleed flex items-stretch" style="background-image: url('assets/images/hero.jpg')">
	<div class="bg-charcoal/90 w-full text-white pt-24 md:pt-28 pb-20">
		<div class="container">
			<h2 class="deco-rule deco-rule--white muf-text-center md:text-left">
				Featured Events
			</h2>
			<div 
				class="muf-carousel muf-events-wrapper mt-12"
				data-flickity='{ 
		            "adaptiveHeight" : false, 
		            "cellAlign" : "left",
		            "pageDots" : false,
		            "wrapAround" : true
		        }'
			>
				<div class="muf-carousel-item">
					<a href="#" class="muf-link-reset">
						<div class="relative muf-event-image-wrapper">
							<img src="images/event01.jpg" alt="Event Image" class="object-cover w-full h-full">
							<div class="absolute top-4 left-4 text-white muf-text-shadow z-20">
								<div class="text-sm uppercase">May</div>
								<div class="text-4xl -mt-2">16</div>
							</div>
							<div class="muf-hover-overlay">
								&nbsp;
							</div>
						</div>
						<div class="deco-rule deco-rule-small md:text-lg mt-4">Homecoming</div>
					</a>
				</div>
				<div class="muf-carousel-item">
					<a href="#" class="muf-link-reset">
						<div class="relative muf-event-image-wrapper">
							<img src="images/event02.jpg" alt="Event Image" class="object-cover w-full h-full">
							<div class="absolute top-4 left-4 text-white muf-text-shadow z-20">
								<div class="text-sm uppercase">May</div>
								<div class="text-4xl -mt-2">16</div>
							</div>
							<div class="muf-hover-overlay">
								&nbsp;
							</div>
						</div>
						<div class="deco-rule deco-rule-small md:text-lg mt-4">Homecoming</div>
					</a>
				</div>
				<div class="muf-carousel-item">
					<a href="#" class="muf-link-reset">
						<div class="relative muf-event-image-wrapper">
							<img src="images/event03.jpg" alt="Event Image" class="object-cover w-full h-full">
							<div class="absolute top-4 left-4 text-white muf-text-shadow z-20">
								<div class="text-sm uppercase">May</div>
								<div class="text-4xl -mt-2">16</div>
							</div>
							<div class="muf-hover-overlay">
								&nbsp;
							</div>
						</div>
						<div class="deco-rule deco-rule-small md:text-lg mt-4">Memorial Student Center Fountain Day</div>
					</a>
				</div>
				<div class="muf-carousel-item">
					<a href="#" class="muf-link-reset">
						<div class="relative muf-event-image-wrapper">
							<img src="images/event04.jpg" alt="Event Image" class="object-cover w-full h-full">
							<div class="absolute top-4 left-4 text-white muf-text-shadow z-20">
								<div class="text-sm uppercase">May</div>
								<div class="text-4xl -mt-2">16</div>
							</div>
							<div class="muf-hover-overlay">
								&nbsp;
							</div>
						</div>
						<div class="deco-rule deco-rule-small md:text-lg mt-4">Homecoming</div>
					</a>
				</div>
				<div class="muf-carousel-item">
					<a href="#" class="muf-link-reset">
						<div class="relative muf-event-image-wrapper">
							<img src="images/event03.jpg" alt="Event Image" class="object-cover w-full h-full">
							<div class="absolute top-4 left-4 text-white muf-text-shadow z-20">
								<div class="text-sm uppercase">May</div>
								<div class="text-4xl -mt-2">16</div>
							</div>
							<div class="muf-hover-overlay">
								&nbsp;
							</div>
						</div>
						<div class="deco-rule deco-rule-small md:text-lg mt-4">Memorial Student Center Fountain Day</div>
					</a>
				</div>
			</div>
			<a href="#" class="muf-link-reset muf-button mt-8 md:mt-12">
				View all events
			</a>
		</div>
	</div>
</div>