
<section class="muf-feature-wrapper">
	<div class="muf-feature-header">
		<h2 class="deco-rule">{{ title }}</h2>
	</div>
	<div class="muf-feature-media">
		<img src="/docs/assets/images/founding_priorities.jpg" alt="feature image" />
	</div>
	<div class="muf-feature-box">
		<div class="muf-feature-box-content">
			<h3 class="muf-feature-headline">{{ subtitle }} </h3>
			<p>Pellentesque posuere. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Curabitur suscipit suscipit tellus. Praesent ac massa at ligula laoreet iaculis.</p>

			<p>Nullam accumsan lorem in dui. In turpis. Etiam imperdiet imperdiet orci. Quisque id odio. Donec elit libero, sodales nec, volutpat a, suscipit non, turpis.</p>

			<p>Pellentesque posuere. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Curabitur suscipit suscipit tellus. Praesent ac massa at ligula laoreet iaculis.</p>
			<div class="flex flex-col gap-4 py-6">
	            <a href="#" class="muf-link-reset muf-button w-fit">
	                First CTA
	            </a>
	            <a href="#" class="muf-link-reset muf-button muf-button--white w-fit muf-border-green">
	                Optional Second CTA
	            </a>
	        </div>
	    </div>
	</div>
	<div class="muf-feature-controls">
		<button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Next">
			&nbsp;
		</button>
		<button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next">
			&nbsp;
		</button>
	</div>
</section>
