<div class="muf-background-bleed flex items-stretch" style="background-image: url('images/hero.jpg');">
	<div class="bg-green/90 w-full h-min text-white pt-24 md:pt-28 pb-20">
		<div class="container">
			<h2 class="deco-rule deco-rule--white text-center md:text-left">
				Latest News
			</h2>
			<div class="">
				<div class="muf-carousel muf-news-wrapper">
					<div class="muf-carousel-item">
						<div class="flex">
							<div class="opacity-50 pr-4 mr-4 muf-dashed-border-r-darker">
								<div class="text-xs font-sans">May</div>
								<div class="text-2xl">16</div>
							</div>
							<div class="flex-grow">
								<a href="#" class="muf-link-reset text-white hover:underline">Alumni Association announces Chapter of the Year, Emerging Chapter of the Year</a>
							</div>
						</div>
					</div>
					<div class="muf-carousel-item">
						<div class="flex">
							<div class="opacity-50 pr-4 mr-4 muf-dashed-border-r-darker">
								<div class="text-xs font-sans">May</div>
								<div class="text-2xl">23</div>
							</div>
							<div class="flex-grow">
								<a href="#" class="muf-link-reset text-white hover:underline">Gary and Jo Ann White establish Professorship to honor 37th Marshall University president</a>
							</div>
						</div>
					</div>
					<div class="muf-carousel-item">
						<div class="flex">
							<div class="opacity-50 pr-4 mr-4 muf-dashed-border-r-darker">
								<div class="text-xs font-sans">May</div>
								<div class="text-2xl">12</div>
							</div>
							<div class="flex-grow">
								<a href="#" class="muf-link-reset text-white hover:underline">OVP HEALTH gifts $100,000 in support of Brad D. Smith Center for Business &amp; Innovation</a>
							</div>
						</div>
					</div>
					<div class="muf-carousel-item">
						<div class="flex">
							<div class="opacity-50 pr-4 mr-4 muf-dashed-border-r-darker">
								<div class="text-xs font-sans">May</div>
								<div class="text-2xl">09</div>
							</div>
							<div class="flex-grow">
								<a href="#" class="muf-link-reset text-white hover:underline">OVP HEALTH gifts $100,000 in support of Brad D. Smith Center for Business &amp; Innovation</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center md:text-left">
				<a href="#" class="muf-link-reset muf-button muf-button--white">
					View all news
				</a>
			</div>
		</div>
	</div>
</div>