<div class="">
	<div 
		class="muf-carousel muf-stats-wrapper mt-12"
		data-flickity='{ 
            "adaptiveHeight" : false, 
            "cellAlign" : "left",
            "pageDots" : false
        }'
        >
		<div class="muf-carousel-item">
			<div class="muf-stats-metric">
				$3,877,265
			</div>
			<div class="muf-stats-context">
				Contributed to support the mission of marshall university
			</div>
		</div>
		<div class="muf-carousel-item">
			<div class="muf-stats-metric">
				3,386
			</div>
			<div class="muf-stats-context">
				Contributed to support the mission of marshall university
			</div>
		</div>
		<div class="muf-carousel-item">
			<div class="muf-stats-metric">
				1,800
			</div>
			<div class="muf-stats-context">
				Contributed to support the mission of marshall university
			</div>
		</div>
	</div>
</div>