<div class="overflow-x-auto muf-x-scroll">
    <div class="inline-block align-middle">
        <div class="">
            <table class="muf-table">
                <thead class="font-bold font-sans text-sm">
                    <tr>
                        <th scope="col">Column 1</th>
                        <th scope="col" class="pl-8">Column 2</th>
                        <th scope="col">Column 3</th>
                        <th scope="col">Column 4</th>
                        <th scope="col">Column 5</th>
                        <th scope="col">Column 6</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="" scope="row">
                            Group 1
                        </th>
                        <td>62.5%</td>
                        <td>
                            70%
                        </td>
                        <td>
                            $45.97
                        </td>
                        <td>
                            70%
                        </td>
                        <td>
                            $45.97
                        </td>
                    </tr>
                    <tr>
                        <th class="" scope="row">
                            Group 2
                        </th>
                        <td>62.5%</td>
                        <td>
                            70%
                        </td>
                        <td>
                            $45.97
                        </td>
                        <td>
                            70%
                        </td>
                        <td>
                            $45.97
                        </td>
                    </tr>
                    <tr>
                        <th class="" scope="row">
                            Group 3
                        </th>
                        <td>62.5%</td>
                        <td>
                            70%
                        </td>
                        <td>
                            $45.97
                        </td>
                        <td>
                            70%
                        </td>
                        <td>
                            $45.97
                        </td>
                    </tr>
                    <tr>
                        <th class="" scope="row">
                            Group 4
                        </th>
                        <td>62.5%</td>
                        <td>
                            70%
                        </td>
                        <td>
                            $45.97
                        </td>
                        <td>
                            70%
                        </td>
                        <td>
                            $45.97
                        </td>
                    </tr>
                    <tr>
                        <th class="" scope="row">
                            Group 5
                        </th>
                        <td>62.5%</td>
                        <td>
                            70%
                        </td>
                        <td>
                            $45.97
                        </td>
                        <td>
                            70%
                        </td>
                        <td>
                            $45.97
                        </td>
                    </tr>
                    <tr>
                        <th class="" scope="row">
                            Group 6
                        </th>
                        <td>62.5%</td>
                        <td>
                            70%
                        </td>
                        <td>
                            $45.97
                        </td>
                        <td>
                            70%
                        </td>
                        <td>
                            $45.97
                        </td>
                    </tr>
                    <!-- More items... -->
                </tbody>
            </table>
        </div>
    </div>
</div>